.row {
	margin-top: 10rem;
}
.hwt-container {
	width: 100%;
	background: rgba(var(--bs-light-rgb),var(--bs-bg-opacity));
	border-radius: .4em;
}
.hwt-content {
	padding: .2em .5em .2em .5em;
	border-radius: .4em;
}
.hwt-content mark {
	border-radius: .2em;
}
.hl-G {
	background-color: #D0BFFF;
}
.hl-Q {
	background-color: #FFD0BF;
}
.text-area {
	height: 7rem;
}
.form-control {
	background-color: inherit;
	border: 2px solid var(--bs-border-color);
}
.form-check-inline {
	margin-right: 4rem !important;
	margin-left: 4rem !important;
	margin-bottom: 1rem !important;
}
.form-control:focus {
	box-shadow: none;
	border: 2px solid var(--bs-border-color);
	background-color: inherit;
}
.form-check-input {
	margin-top: 0.37rem;
}
.form-check-input:focus {
	box-shadow: none;
}
.cin {
	position: fixed;
	z-index: -1;
	height: 35rem;
}
.cin-left {
	left: 0rem;
	bottom: 0rem;
}
.cin-right {
	right: 0rem;
	bottom: -1rem;
}